/// 
/// Author: Will Murphy 
///

/*Projects Styling */
.projects-container{
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
    //@include vendor('justify-content', 'center');
    @include vendor('flex-direction', 'column');
    position: relative;
    max-width: inherit;
    max-height: 460px;
    overflow-y: scroll;
    z-index: 3;


    .project {
        background:#383838;
        border-radius: 15px;
        width:90%;
        z-index: 1000;
        margin: 15px 15px;
        transition: all 500ms ease;

        .project-icon { 
            @include icon;
            clear:right;
            width: 54px;
            padding: 10px 0px 0px 15px;
            
        }
        
        .project-text-wrapper { 
            padding: 10px 15px 10px 15px ;
            margin-bottom: 50px;
            float:right;
            text-overflow: wrap
        }
        .project-title {
          padding: 0px 100px 0px 0px;

        
        }

        .project-description {
            margin:  0px 0px ;
            padding: 0px 0px 0px 0px;
            text-overflow: wrap
        }

    }

    .project:hover {
            transform: scale(1.02, 1.02);
            -moz-transform: scale(1.02, 1.02);
            -ms-transform: scale(1.02, 1.02);
            -webkit-transform: scale(1.02, 1.02);
            -o-transform: scale(1.02, 1.02);   
            transition: ease-in-out 200ms;
        }  

}

#project-link h3:hover {
    text-decoration: underline;
    transition: ease-in-out 200ms;
}
